.nav {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-column: 1 / 21;
  grid-row: 2;
  z-index: 1;
}

.topRightBtn {
  grid-column: 19 / 20;
  width: 200%;
  text-align: center;
}

.accountBtn {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.logoutBtn {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}