.app {
  display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.downArrow {
  font-size: 1.7vw;
  display: none;
}

.postPageBtn:hover .downArrow {
  display: block;
}